APP_NAME="Sportival API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sportival_db
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost:3000

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=sportival
REVERB_APP_KEY=sportival-key
REVERB_APP_SECRET=sportival-secret
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

# Fonnte WhatsApp Gateway (https://fonnte.com)
FONNTE_TOKEN=
